In [1]:
import pandas as pd

In [3]:
text = """
<table class="data-table responsive-text-nowrap">
<thead>
<tr>
<th class="text"></th>
<th class="">Mar 2013</th>
<th class="">Mar 2014</th>
<th class="">Mar 2015</th>
<th class="">Mar 2016</th>
<th class="">Mar 2017</th>
<th class="">Mar 2018</th>
<th class="">Mar 2019</th>
<th class="">Mar 2020</th>
<th class="">Mar 2021</th>
<th class="">Mar 2022</th>
<th class="">Mar 2023</th>
<th class="">Mar 2024</th>
</tr>
</thead>
<tbody>
<tr class="stripe">
<td class="text">

              Debtor Days

          </td>
<td class="">60</td>
<td class="">56</td>
<td class="">71</td>
<td class="">88</td>
<td class="">140</td>
<td class="">114</td>
<td class="">100</td>
<td class="">105</td>
<td class="">114</td>
<td class="">154</td>
<td class="">132</td>
<td class="">92</td>
</tr>
<tr class="">
<td class="text">

              Inventory Days

          </td>
<td class=""></td>
<td class=""></td>
<td class=""></td>
<td class=""></td>
<td class=""></td>
<td class="">269</td>
<td class="">240</td>
<td class="">382</td>
<td class="">467</td>
<td class="">535</td>
<td class="">524</td>
<td class="">421</td>
</tr>
<tr class="stripe">
<td class="text">

              Days Payable

          </td>
<td class=""></td>
<td class=""></td>
<td class=""></td>
<td class=""></td>
<td class=""></td>
<td class="">87</td>
<td class="">35</td>
<td class="">155</td>
<td class="">158</td>
<td class="">179</td>
<td class="">296</td>
<td class="">85</td>
</tr>
<tr class="strong">
<td class="text">

              Cash Conversion Cycle

          </td>
<td class="">60</td>
<td class="">56</td>
<td class="">71</td>
<td class="">88</td>
<td class="">140</td>
<td class="">296</td>
<td class="">305</td>
<td class="">332</td>
<td class="">423</td>
<td class="">510</td>
<td class="">360</td>
<td class="">428</td>
</tr>
<tr class="stripe">
<td class="text">

              Working Capital Days

          </td>
<td class="">367</td>
<td class="">300</td>
<td class="">418</td>
<td class="">331</td>
<td class="">177</td>
<td class="">132</td>
<td class="">114</td>
<td class="">109</td>
<td class="">190</td>
<td class="">270</td>
<td class="">230</td>
<td class="">253</td>
</tr>
<tr class="">
<td class="text">

              ROCE %

          </td>
<td class="">4%</td>
<td class="">4%</td>
<td class="">0%</td>
<td class="">2%</td>
<td class="">-7%</td>
<td class="">10%</td>
<td class="">18%</td>
<td class="">19%</td>
<td class="">19%</td>
<td class="">16%</td>
<td class="">22%</td>
<td class="">11%</td>
</tr>
</tbody>
</table>
"""

In [6]:
df = pd.read_html(text)
df[0]

C:\Users\ghora\AppData\Local\Temp\ipykernel_14432\2128157186.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(text)

,Unnamed: 0,Mar 2013,Mar 2014,Mar 2015,Mar 2016,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,Mar 2023,Mar 2024
0,Debtor Days,60,56,71,88,140,114,100,105,114,154,132,92
1,Inventory Days,NaN,NaN,NaN,NaN,NaN,269,240,382,467,535,524,421
2,Days Payable,NaN,NaN,NaN,NaN,NaN,87,35,155,158,179,296,85
3,Cash Conversion Cycle,60,56,71,88,140,296,305,332,423,510,360,428
4,Working Capital Days,367,300,418,331,177,132,114,109,190,270,230,253
5,ROCE %,4%,4%,0%,2%,-7%,10%,18%,19%,19%,16%,22%,11%